* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px
}

html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1 0 auto;
  }

header {

    display: flex;
    flex: row wrap;
    height: 80px;
    align-items: center;
    justify-content: center;
}

header h1 {

  margin: 1% 0px;

}

@media only screen and (max-width: 482px) {

  header {
    margin: 5% 0;

    text-align: center;
    
  }
  
 
 


}


#footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: center;
    font: 1.5em;
    height: 3em;
    flex-shrink: 0;
   
    font-size: 1.5em;
    padding-left: 3%
}


nav:first-child {
    padding-left: 25px;
}

#footer p {
    margin-right: 20px
}

.caru {
  max-width: 50%;
  margin-left: 25%
}


.carousel-inner {
  margin-top: 10px
}

  .hide {

    display: none;
  }

  #mainText {

    margin-top: 15px;
    display: flex;
    flex-direction:  row;
    justify-content: space-around;
    flex-wrap: wrap !important;
   

  }

 

  .infobasicaTitulo, .infobasicaCuerpo {
    margin-top: 20px;
    text-align:  center;

  }


  .pdf {

    display: flex;
    flex: row wrap;
    height: 75vh

  }

  .tpLinks {

    font-size: 20px;
    text-decoration: none;
    margin-top: 20px;
    text-align:  center;
    color: black;
  }

  .tpLinks {
    font-weight: bolder;
  }


  .divPic {

    display:  flex;
    flex-direction: column;
    margin: 5px;
    border: 3px solid #f8f9fa;
    max-width: 300px;
    box-shadow: 2px 4px;
    margin-left: 30px;
    


  }


  .divPic:hover {
    border: 3px solid #61AAF2
  }

  .divPic img {

    border: 1px solid black;
    box-shadow: 2px 4px;
    margin: 10px

  }

  .infoDiv, .programaDiv, .tpDiv {

    width: 100%;
    justify-items: center;
 

  }

 

  .navLinks {

    color: black;
    text-decoration: none ;
    font-size: 30px;
    margin: 5px

  }

  .h3__style , .h4__style{
    text-align: center;
    margin: 1% 5%;
  }

  .nameLink {

    color: black;
    align-self: center;

  }

  .embolden {

    font-weight: bold;
  

  }

  .memDiv {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 100%;
    padding: 10px;
  }

  .memPic {
    border: 3px solid black;
    margin-bottom: 10px
  }

  .memDesc {
    margin-top: 1em;
    max-width: 50%;
    font-size: 1.2em;
    
  }

  .memButton {
    margin-top: 20px;
    width: 8%;
    height: 10%;
    font-size: 1.5em;
    background-color: white;
    border: 3px solid gray
  }

  .memButton:hover {
    
    border: 3px solid black
  }


  .mobileNews {

    margin: 1% 5%

  }

  body, #footer {
    
    background-color:  	 	#BCDBFA
  }

  header {
    background-color :#61AAF2
  }

  header h1 {

    color: #f8f9fa
  }

  /* .navbar {
    background-color: red  !important;
  } */